* {
    box-sizing: border-box;
}

.body {
    font-family: "Roboto", sans-serif;
    background-image: url('img/patt.png');
    font-size: 21px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}


/* COLUMN LAYOUT */
.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


/* HEADER */
.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    margin-top: 7px;
}

.menu {
    display: flex;
}

.menu .menu-item {
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu .menu-item:last-child {
    border-right: 1px solid #2c71b8;
}

.menu .menu-link {
    display: flex;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #2c71b8;
}

.menu .menu-link:hover {
    color: #fff;
    background-color: #2c71b8;
}

.arrow-down {
    border: solid #2c71b8;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin:  0 0 3px 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* SEARCH MENU */
.col-tail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-search {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #2c71b8;
    height: 40px;
    width: 75%;
    padding: 5px;
}

.search input {
    height: 30px;
    width: 85%;
    padding: 5px;
    border: none;
    background: transparent;
    font-size: 21px;
}

.search input::placeholder {
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
}

.search-btn {
    border: none;
    background: url('img/icon-4.png') no-repeat center;
    background-color: #2c71b8;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/* SHOP MENU */
.shop-menu {
    position: relative;
}

.shop-btn {
    display: block;
    border: none;
    background: url('img/icon-1.png') no-repeat center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.shop-menu .message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    background: #2c71b8;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}


/* ARROW */
.arrow-link {
    position: relative;
}

.arrow-link:hover .arrow-down {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin:  0 0 3px 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-link:hover .menu-link {
    color: #fff;
    background-color: #2c71b8;
}

.arrow-link:hover .drop-down-menu {
    opacity: 1;
    visibility: visible;
}


/*  DROPDOWN  */
.drop-down-menu {
    background: #2c71b8;
    position: absolute;
    left: -1px;
    width: 286px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
}

.drop-down-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    height: 40px;
    padding: 0 20px 0 30px;
    display: flex;
    align-items: center;
}

.drop-down-menu a:hover {
    background-color: #fff;
    color: #2c71b8;
}


/* SLIDE SHOW*/
.slide-show {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


/* SIDE BAR */
.side-bar {
    color: #fff;
    border-right: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    height: 850px;
}

.side-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 850px;
}

.side-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.side-section:nth-last-child(3) {
    margin-bottom: 10px;
}

.side-section h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
}

.side-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-item input[type='checkbox'] {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    height: 10px;
    width: 10px;
}

.side-item input[type='checkbox']:checked {
    background-color: #fff;
}

.side-bar button {
    border: none;
    font-size: 21px;
    color: #fff;
    margin: 10px 0;
}

.side-bar .aside-more-btn {
    background: transparent;
}

.side-bar .aside-submit-btn {
    background: #2c71b8;
    border: 1px solid #fff;
    padding: 15px 0;
    text-transform: uppercase;
}

/* Main Content */
.main-content {
    color: #fff;
    margin-bottom: 60px;
}

.location-menu {
    display: flex;
    gap: 5px;
    font-size: 14px;
    padding: 30px 0;
}

.location-menu a {
    text-decoration: none;
    color: #fff;
}

.location-menu .current-location {
    text-decoration: underline;
}

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-head h1 {
    font-size: 48px;
    font-weight: bold;
}

.sorting-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sorting-menu {
    color: #fff;
    background-color: #2c71b8;
    text-decoration: none;
    width: 270px;
    height: 40px;
    border: 1px solid #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting-menu:hover {
    background-color: #fff;
    color: #2c71b8;
}

.sorting-menu:hover .arrow-down {
    border: solid #2c71b8;
    border-width: 0 2px 2px 0;
}

.sorting-menu .arrow-down {
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

.sorting-drop-down {
    position: absolute;
    top: 40px;
    visibility: hidden;
}

.sorting-drop-down li a {
    background-color: #2c71b8;
    border: 1px solid #fff;
    padding: 0 10px;
    height: 40px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}

.sorting-drop-down li a:hover {
    color: #2c71b8;
    background-color: #fff;
}

.sorting-container:hover .sorting-drop-down {
    visibility: visible;
    opacity: 1;
}


/* MAIN ITEMS */
.main-items {
    margin: 30px 0 20px 0;
}

.main-items .item {
    height: 650px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 15px;
}

.item .item-bg-img-1 {
    background: url('img/icon-17.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-2 {
    background: url('img/icon-11.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-3 {
    background: url('img/icon-13.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-4 {
    background: url('img/icon-16.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-5 {
    background: url('img/icon-14.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-6 {
    background: url('img/icon-12.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-7 {
    background: url('img/icon-15.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-8 {
    background: url('img/icon-9.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item .item-bg-img-9 {
    background: url('img/icon-13.png') no-repeat center;
    display: block;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.item-img-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-img-container button{
    display: block;
    margin: 10px 10px 0 10px;
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
}

.item-img-container .zoom-btn {
    background: url('img/icon-8.png') no-repeat center;
    border: 1px solid #2c71b8;
    padding: 5px;
}

.item-img-container .like-btn {
    background: url('img/icon-5.png') no-repeat center;
    border: 1px solid #2c71b8;
    padding: 5px;
}

.item .item-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-text h2 {
    font-weight: bold;
    font-size: 30px;
}

.item-bold {
    font-weight: bold;
    text-transform: uppercase;
}

.item-text h1 {
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item-text h1 span {
    font-size: 25px;
}

.item-more-btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: #2c71b8;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    height: 50px;
    margin: 0 15px;
}

.item-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 15px;
}

.item-cart-btn {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: transparent;
    height: 50px;
}

.item-cart-img {
    display: block;
    background: url('img/icon-2.png') no-repeat center;
    height: 20px;
    width: 20px;
}

.load-more-button {
    text-align: center;
    padding: 10px;
}

.load-more-button .load-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 36px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100px;
    color: #2c71b8;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}